**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.pytest_cache/
.coverage
.git/
.github/
.vscode/
*.png
*.jpg
*.jpeg
*.mp4
*.pkl
*.ipynb
track_stubs/
runs/
